*
	box-sizing: border-box
body
	+reg
	color: $text-color
img
	max-width: 100%
.section
	padding: 100px 0 117px
	&__title
		+semibold
		font-size: 28px
		text-transform: uppercase
		color: $text-color
		&-wrapper
			margin: -129px 0 54px -32px
			width: 244px
			height: 58px
			display: flex	
			justify-content: center
			align-items: center
			background-color: $main-color
.container
	width: 1170px
	margin: auto
.button
	background-color: $main-color
	color: $text-color
	border: none
	padding: 7px 14px 
	font-size: 15px
	&:active
		outline: none
	&:focus
		outline: none
.form
	max-width: 400px
	width: 90%
	box-shadow: 5px 0 10px rgba(0,0,0,0.5)
	background-color: #ffffff
	text-align: center
	&__title
		padding: 48px 0 5px
		+bold
		font-size: 20px
		text-transform: uppercase
		&-colored
			color: $main-color
	&__button
		width: 76%
		font-size: 21px
		padding: 17px 
		margin-top: 65px
		margin-bottom: 58px
		text-transform: uppercase
.input
	+reg
	font-size: 18px
	margin-top: 38px
	padding-bottom: 4px
	width: 100%
	border: none
	border-bottom: 1px solid #000000
	opacity: 0.65
	&:focus
		// border: 1px solid $main-color
		// border-radius: 10px
		outline: none
	&-group
		position: relative
		max-width: 308px
		margin: auto
.invalid
	border: 1px solid red
div.invalid
	position: absolute
	bottom: -17px
	left: 0
	border: none
	color: red
	font-size: 14px
@media (max-width: 1200px)
	.container
		width: 950px
	.section
		&__title
			font-size: 26px
			&-wrapper
				width: 200px	
@media (max-width: 992px)
  .container
    max-width: 726px
    width: 96%
  .section
  	padding: 100px 0 80px
  	&__title
  		font-size: 24px  
  		&-wrapper
  			margin: -129px 0 35px -6px
  			max-width: 180px
@media (max-width: 768px)
  .container
    max-width: 528px
    width: 96%
  .section
  	padding: 100px 0 70px
  	&__title
  		font-size: 22px
  		&-wrapper
  			max-width: 147px
  			height: 50px
  			margin: -126px 0 25px -2px
  .form
  	max-width: 335px			
@media (max-width: 567px)
	.section
		padding: 100px 0 60px
		&__title
			font-size: 20px
			&-wrapper
				max-width: 115px
				height: 40px
				margin: -123px 0 15px -2px
	.form
		&__title
			padding: 40px 0 5px
			font-size: 18px
		&__button
			margin-top: 50px
			margin-bottom: 45px
			font-size: 19px

	.container
	  max-width: 390px
	  width: 96%
@media (max-width: 420px)
  .container
    max-width: 290px
    width: 96%	
  .section
  	padding: 100px 0 50px
  	&__title
  		font-size: 18px
  		&-wrapper
  			max-width: 115px
  			height: 36px	
  			margin: -118px 0 15px 
  .form
  	width: 93%
@media (min-width: 992px)
	.button:hover
		background-color: darken( $main-color, 10% )
		color: #ffffff
		cursor: pointer



