.navbar
	&-block
		display: flex
		justify-content: space-between
		align-items: center
	&__link
		display: block
		width: 50px
		height: 55px
	&-menu
		display: flex
		justify-content: space-between
		flex-basis: 50%
		list-style: none
		padding: 0
		&__link
			font-size: 16px
			text-decoration: none
		&__item
			
	&__logo
		&-title
			margin: 0
			font-size: 15px
			text-transform: uppercase
	&-contacts
		flex-basis: 30%
